<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
<!--    <title>{{ main_title|default:"Без заголовка" }}</title>-->
</head>
<body>
<!--<p>{{ menu }}</p>-->
<!--<p>{{ menu|first }}</p>-->
<!--<p>{{ menu|last }}</p>-->
<p>{{ menu|join:" | " }}</p>
<!--<p>{{ float|add:"50"}}</p>-->
<!--<p>{{ lst }}</p>-->
<!--<p>{{ lst|length }}</p>-->
<!--<p>{{ set }}</p>-->
<!--<p>{{ dict.key_1 }} {{ dict.key_2 }}</p>-->
<!--<p>{{ obj.a}}</p>-->
<!--<p>{{ "The Main Page"|slugify }}</p>-->
<!--<p>{{ url }}</p>-->
<!--<h1>{{ title|capfirst }}</h1>-->
<!--<h1>{{ title|cut:" "|cut:"?" }}</h1>-->
<h1>{{ title }}</h1>

<ul>
    {% for p in posts %}
    {% if p.is_pablished %}
    <li>
        <h2>{{ p.title }}</h2>
        <p>{{ p.content }}</p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif%}
    {% endfor %}
</ul>

</body>
</html>